/*home-page*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


 body {
	background-image: url(../img/earth.png);
	background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
	color: #ffffff;
	background-color: #eee;

 }

h1{
	font-size: 3em;
	text-align: center;
}

h2 {
	/* font-size: 1em; */
	font-family:sans-serif;
    color: #fff;
	text-align: center;
}

p {
	font-size: .7em;
    font-family: 'Dosis';
}

.inline-block {
    text-align: center;
    font-size:18px;
}
div {
	border-radius: 4px;
}

.card_image {
	width: 100%;

}

.bottom_button {
	box-sizing:border-box;
	border-radius: 4px;
	display: block;
	width: 100%;
	background-color:rgba(129, 187, 201,.85);
	text-align: center;
	padding: 1em .75em;
	text-decoration: none;
	color: #000;

}

.card_bottom {
	display: flex;
	flex-flow:column;
}

.card_head {
    flex: 0;
    color: rgb(58, 39, 39);
    font-family: sans-serif;
	font-size:.7em;
}

p.card_par1 {
    flex: 1 0 auto;
    color: #000;
}

p.card_par2 {
    flex: 1 0 auto;
    color:#000;
}

p.card_par3 {
    flex: 1 0 auto;
    color: #000;
}

p.card_para {
    flex: 1 0 auto;
    color: #000;
   
}

#container {
	display: flex;		/* makes container a flexbox*/
	flex-flow: row wrap; 	/* layout the boxes in rows and wrap them*/
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width:1050px;
}

#logo {
	width: 800px;
	margin: auto;
    color: #000;
}

.card {

	flex:1; /* */
	display: flex;	/* make the contents controllable by flexbox*/
	flex-flow:column;
	min-width: 240px;
	margin: 10px;
	padding: 20px;
	background-color: #0009;
    float:right;
}

.highlight_graph {
	background-color: #8c5845;
}

/*--------------------------------------------Footer*/

footer {
    background-color:transparent;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

h3.uppercase.general-sub {
    font-family: 'Dosis';
    font-size: .9em;
    font-weight: 400;
}


h5.uppercase.general-sub {
    font-family: 'Dosis';
    font-size: .9em;
    font-weight: 400;
    text-align: left;

}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: #fff;
    background-color: #f05f40;

}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: #fff;
}


.social-links {
    padding-bottom: 15px;
}

 

#social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #e6550d;;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links li a i:hover {
    background: #e84610;
}

#footer_details {
	width:100%;
	text-align: center;
    margin: 35px;
}

/*--------------------------------------------Beyond-Footer*/

#copyright {
	margin-top:10px;
    text-align: center;
	margin-bottom:10px;

}

/*************************
Navigation
**************************/

nav {

	font-family: "Roberto";
	background-color: #eee;
	margin: 30px auto;
	width: 100%;
}



ul {

	display: flex;
	justify-content:space-between;
	flex-flow: row;
	align-items:baseline;
	border-radius: 10px;
	list-style-type: none; /*Remove Bullets*/
	padding: 0;
}

li {
	flex:1;
	height: 30px;
	width:10%;
    text-decoration: none;
	border-radius: 10px;
	font-family: Dosis;
	padding:   20px 20px 20px 20px;
	text-align: center;
	font-size: 1.3em;
}

#logoNav {
    font-family: sans-serif;
    font-style: italic;
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    color:  #000;
}    

.center {
    text-align: center;
}
.underline {
    text-decoration:none;

}

.border {
    border: solid 5px #ccc;
}

/*--------------------------------------------media-queries*/
 @media screen and (max-width: 700px) {

ul {
		flex-flow: column;
		align-items:center;
    }
li {
		font-size: 2em;
	}


a   {
    color: #551A8B;
    cursor: pointer;
    font-display: "Dosis";
    text-decoration: none;
}    
/*--------------------------------------------Contact-form*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}



/*--------------------------------------------centre-formmedia queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 20px 20px;
        float: left;
        display: table-cell;
    }

    .center-form {
        padding-top: 20px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}