/*home-page*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body {
	font-family: 'Roboto', sans-serif;

}

.wrapper {
    height: 100px;
    width: 100px;
}
​
.image {
    background-image: url(../img/earth-adobestock.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: 000000;

}


#per-country-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
#per-country-chart .attr{
    width: 300;
    height: 350;
}

#per-continent-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#per-area-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
